body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-size: 20px;
	background: #f2f2f2;
	color: #232323;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
	outline: none;
}
nav {
	position: fixed;
	top: 0;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	width: 100vw;
	background: white;
	z-index: 3;
}
nav a {
	height: 100%;
}
nav a div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'League Spartan', sans-serif;
	width: 100px;
	height: 100%;
	gap: 10px;
}
a {
	text-decoration: none;
	color: #232323;
}
.logo img {
	height: 60%;
}
.logo div {
	font-size: 2rem;
	font-family: 'EB Garamond', serif;;
	font-weight: 600;
}
footer {
	position: relative;
	left: -20px;
	bottom: -20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 60px;
	background: #232323;
	color: white;
	padding: 0 20px;
	box-sizing: border-box;
}
.email {
	display: flex;
	gap: 20px;
	font-family: 'League Spartan', sans-serif;
}
.email a img {
	height: 15px;
}
.hero {
	position: relative;
	display: flex;
	height: calc(100vh - 60px);
	width: 100vw;
	left: -20px;
}
.dictionary {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 70vh;
	width: 100%;
	padding: 0 50px;
	box-sizing: border-box;
}
.type {
	color: gray;
	font-size: 1.5rem;
	letter-spacing: 2px;
}
.title {
	font-size: 6rem;
	width: 100%;
	font-weight: 800;
	line-height: 5rem;
	margin-top: 20px;
}
.definition {
	font-size: 2.5rem;
	margin-top: 20px;
	max-width: 1050px;
}
.definition a {
	text-decoration: underline;
}
.synonyms {
	display: flex;
	font-size: 2rem;
	font-family: 'League Spartan', sans-serif;
	color: #bdbdbd;
	margin-top: 50px;
	line-height: 2.5rem;
}
.synonyms span {
	margin-left: 100px;
	max-width: 600px;
}
.synonyms span a {
	text-decoration: underline;
	color: #a2c4d2;
}
.hero img {
	object-fit: cover;
	width: 100%;
}
.dark {
	position: relative;
	left: -20px;
	background: #232323;
	padding: 20px;
	box-sizing: border-box;
	color: #f2f2f2;
}
.dark .feature, .dark a {
	color: #f2f2f2;
}
.dictionary.darkmode .title, .dictionary.darkmode .definition {
	color: #f2f2f2;
}
.dictionary.darkmode .synonyms {
	color: gray;
}
.slider_container {
	position: relative;
	left: -20px; 
	width: 100vw;
	height: 80vh;
	overflow: hidden;
	margin-bottom: 100px;
}
.slider {
	position: absolute;
	top: 50%;
	left: 0;
	height: 500px;
	width: max-content;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 20px;
	pointer-events: none;
	transform: translate(0, -50%);
}
.slider div {
	height: 100%;
	width: 500px;
}
.slider div img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 1;
}
.slider_icon {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 50px;
	height: 50px;
	font-size: 2rem;
	text-align: center;
	z-index: 2;
	transform: translate(-50%, 0);
}
.content {
	margin: 0;
	padding: 20px;
	padding-top: 60px;
	box-sizing: border-box;
	min-height: 100vh;
}
.content_email_sent {
	height: 100vh;
}
.content_email_sent .dictionary {
	height: 100vh;
}
.row {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	gap: 20px;
	margin: 20px auto;
}
.row.fundamentals .feature_title {
	font-size: clamp(1.4em, 3vw, 3em);
}
.feature {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: calc(50% - 10px);
	margin-bottom: 100px;
}
.marginless {
	margin: 0 auto;
}
.marginless .feature {
	width: 100%;
}
.image {
	display: flex;
	flex-direction: column;
	width: calc(50% - 10px);
	aspect-ratio: 1.7;
}
.image:hover {
	cursor: zoom-in;
}
.image.expanded {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	aspect-ratio: unset;
	z-index: 10;
	cursor: zoom-out;
}
.image img {
	height: 100%;
	object-fit: cover;
}
.image span {
	font-family: 'League Spartan', sans-serif;
	margin-top: 10px;

}
.expanded img {
	object-fit: contain;
}
.section_title {
	font-family: 'League Spartan', sans-serif;
	margin-top: 100px;
}
.row_other_projects a {
	flex: 1;
}
.row_other_projects a:last-child  {
	display: none;
}
.other_projects {
	display: flex;
	flex-direction: column;
	aspect-ratio: 2;
	position: relative;
}
.other_projects img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(0.4);
	-webkit-transition : -webkit-filter 500ms linear
}
.other_projects div {
	position: absolute;
	width: 80%;
	color: white;
	font-size: 3vw;
	top: 50%;
	left: 20px;
	transform: translate(0, -50%);
}
.other_projects img.clear {
	filter: brightness(1.0);
	-webkit-transition : -webkit-filter 500ms linear
}
.plans img {
	object-fit: contain;
}
.about, .contacts {
	width: 50%;
	height: calc(100vh - 60px);
	background: #232323;
	padding: 200px 50px;
	box-sizing: border-box;
}
.about div {
	color: white;
	font-size: 2rem;
}
.row_contacts {
	display: flex;
}
.field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 30px;
	color: white;
	font-family: 'League Spartan', sans-serif;
}
input, textarea {
	width: 400px;
	max-width: 100%;
	background: none;
	border: none;
	border-bottom: 3px #3e3e3e solid;
	padding: 10px 0;
	font-size: 1rem;
	color: lightgray;
	border-radius: none;
}
input:focus, textarea:focus {
	color: white;
	border-bottom: 3px white solid;
	transition: .5s ease;
}
lable {
	color: white;
	font-family: 'League Spartan', sans-serif;
}
button {
	background: white;
	margin-top: 30px;
	padding: 10px 20px;
	color: #232323;
	border: none;
	font-size: 1rem;
	cursor: pointer;
}
.socia_media {
	display: flex;
}
.icon {
	height: 25px;
	max-width: 40px;
	margin-right: 20px;
	margin-top: 30px;
}
.feature_title {
	width: 100%;
	font-size: 3rem;
	line-height: 3rem;
}
.feature_images {
	display: flex;
	gap: 20px;
	width: 100%;
	height: 400px;
}
.feature_images div {
	display: flex;
	height: 100%;
	flex: 1;
	overflow: hidden;
}
.feature_images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.feature_description {
	font-size: 1rem;
	font-family: 'League Spartan', sans-serif;
}
.feature_description a {
	line-height: 3rem;
}
.bim {
	position: relative;
	top: -20px;
	left: -20px;
	height: 100vh;
	width: 100vw;
	padding: 20px;
	box-sizing: border-box;
	background: #232323;
	color: #f2f2f2;
}
.logo_signature {
	height: 50px;
	margin: 100px auto;
}
.email a {
	color: white;
}
#panorama {
	width: 100%;
	max-width: 1500px;
	height: 600px;
	background: #000000;
	margin: 0 auto;
}
#imageviewer-image.expanded {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	max-height: unset !important;
	max-width: unset !important;
	cursor: zoom-out !important;
}

.video {
	position: relative;
	width: 100%;
	aspect-ratio: 3.3;
}

.video-full-width {
	object-fit: cover;
	object-position: center;
}

.play-button {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
	width: 100px;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.unmute-button {
	position: absolute;
	right: 50px;
	bottom: 50px;
	height: 60px;
	width: 60px;
	cursor: pointer;
}

.featured-project {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
	margin: 100px auto;
}

.full-width {
	width: 100vw;
}

@media (max-width: 800px) {
	body {
		background: linear-gradient(
			to bottom, 
			white,
			white 60px,
			#f2f2f2 60px,
			#f2f2f2
			);
	}
	.logo div {
		display: none;
	}
	.hero {
		width: 100vw;
		left: -10px;
	}
	.dictionary {
		justify-content: flex-start;
		padding: 50px 10px;
		padding-top: 100px;
	}
	.title {
		margin-top: 0;
		font-size: 3.3rem;
	}
	.definition {
		font-size: 1.5rem;
	}
	.synonyms {
		flex-direction: column;
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
	.synonyms span {
		margin-left: 0;
	}
	.content {
		padding: 10px;
		padding-top: 60px;
	}
	.project_title {
		font-size: 4rem;
		line-height: 60px;
	}
	.project_description {
		width: 100%;
	}
	.row_contacts {
		flex-direction: column;
	}
	.image {
		width: 100%;
		aspect-ratio: 1;
	}
	.row_other_projects a {
		width: 100%;
		flex: unset;
	}
	.other_projects {
		aspect-ratio: 3;
	}
	.other_projects div  {
		font-size: 10vw;
	}
	.about, .contacts {
		width: 100vw;
		height: unset;
		padding: 50px 20px;
	}
	.about div {
		margin-top: 50px;
	}
	.icon {
		margin-top: 0;
	}
	footer {
		left: -10px;
		bottom: -10px;
	}
	footer div:first-child {
		display: none;
	}
	.email {
		width: 100%;
	}
	.email a:last-child {
		margin-left: auto;
	}
	.slider_container {
		height: 100vh;
		width: 100vw;
		overflow: auto;
		left: -10px;
	}
	.slider {
		height: 400px;
	}
	.slider div {
		aspect-ratio: 1;
		width: unset;
	}
	.feature {
		width: 100%;
	}
	.feature_title {
		font-size: 2rem;
	}
	.dark {
		left: -10px;
		padding: 10px;
	}
	.video {
		aspect-ratio: 1;
	}

	.unmute-button {
		bottom: 30px;
		right: 30px;
		height: 40px;
		width: 40px;
	}
}

@media (min-width: 1700px) {
	.row_other_projects a:last-child  {
		display: block;
	}
	.other_projects div  {
		font-size: 3rem;
	}
	.feature {
		width: calc(50% - 10px);
		margin: 100px auto;
	}
	.feature_images {
		height: 600px;
	}
}
